.Top-Right
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 400px;
    width: 800px;
}

.Top-Right-Heading-Text
{
    font-family: "VT323";
    font-size: 50px;
    margin-top: 30px;
    margin-left: 170px;
}

.gallery
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: end;
    margin: 50px 0;
}

.content
{
    width: 21%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 0 10px 10px rgba(0,0,0,0.22);
    transition: 0.4s;
    background: white;
}

.content:hover
{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16)
    0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px,-8px);
}

.Gaming-PC,.X-Box,.NES-Mini,.Mech-KB
{
    width: 100px;
    height: 100px;
}

.checked-star
{
    color: rgb(238, 215, 5);
}

.unchecked-star
{
    color: black;
}

.Buy-button
{
    font-family: "Pixelify Sans";
    text-align: top;
    font-size: 24px;
    color: white;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px; 
    background: black;
}